body {
    background-color: #FCFBF4;
}

.container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.AboutUs h1, .AboutUs h2 {
    text-align: center;
    color: #F94EA0;
}

.AboutUs p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.about-us-image {
    width: 100%; /* Make the image take the full width of its container */
    max-width: 800px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image */
    margin: 20px auto; /* Center the image with margin on top and bottom */
  }



.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.results-list {
    padding: 0;
}

.results-list-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Add a thin line between each element */
    padding-bottom: 10px; 
}

.selected-result {
    margin-top: 20px;
}