@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-color: #FCFBF4;
}

.container {
    margin-left: 5rem;
    margin-right: 5rem;
}

.AboutUs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.AboutUs p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #000080
}

.about-us-image {
    width: 100%; /* Make the image take the full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image */
    margin: 10px auto; /* Center the image with margin on top and bottom */
  }


  .image-container {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.image-container img {
    width: 100%;
    max-width: 200px; /* Set a maximum width for the images */
    height: auto;
    margin-left: 1rem; /* Add space between the images */
}




.results-list {
    padding: 0;
}

.results-list-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Add a thin line between each element */
    padding-bottom: 10px; 
}

.selected-result {
    margin-top: 20px;
}