.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel__item {
  min-width: 20%; /* Adjust this value to control the size of the preview */
  margin: 0 10px; /* Adjust this value to control the spacing between images */
  flex-shrink: 0;
}

.carousel img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(20, 13, 13);
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}

.carousel__btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__btn--prev {
  left: 0;
}

.carousel__btn--next {
  right: 0;
}